@import '../../../assets/scss/variables.scss';

.cost {
  padding: 4.5rem $padding 10rem $padding;
  margin: 6rem 0 0 0;

  background: $primary-second;

  & h3 {
    @include sub;
  }

  & h2 {
    @include titles;
  
    margin: 0 7rem 0 0;
  }

  & p {
    @include text;

    margin: 1.6rem 0 0 0;
  }
}

.illustration {
  margin: 2.83rem 0 0 0;
  position: relative;

  & img {
    box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.1);

    &:first-child {
      width: 100%;
    }

    &:last-child {
      width: 37%;
      top: 3rem;
      left: 2rem;
      position: absolute;
      border-radius: 0.7rem;
    }
  }
}