$general-font: 'Poppins', sans-serif;
$header-font: 'Raleway', sans-serif;

// Colors
$accent: #133A75;
$primary: #fff;
$second: #061A2F;
$text: #708397;
$title: #0A2540;

$primary-darker: #ebeaea;
$btn-text: #fff;

$padding: 1.1rem;
$form-padding: 2.4rem;
$padding2: 2.4rem;
$width: 1268px;
$height: 646px;