$general-font: 'Poppins', sans-serif;
$header-font: 'Raleway', sans-serif;

// Colors - main
$accent: #133A75;
$accent2: #64A2FF;
$primary: #fff;
$second: #061A2F;
$text: #4d5d6d;
$text2: #708397;
$title-lighter: #0A2540;
$title: #051a2e;
$primary-second: #F6F9FC;
$text-darker: #4B5661;

// Other
$primary-darker: #ebeaea;
$btn-text: #fff;
$separation-border: #dcdcdb;
$input-border: #99A19C;
$accent2-title: #fff;
$accent2-text: #C4C9CD;

// Services
$service1-bg: #fbf4f2;
$service1-main: #ea8f78;

$service2-bg: #EEF2F3;
$service2-main: #315772;

$service3-bg: #F4F1EB;
$service3-main: #71643C;

$service4-bg: #F4F9FF;
$service4-main: #678EF4;

$service5-bg: #F9F5FF;
$service5-main: #AB79F8;
$service5-cta: #7B23FF;
$service5-sub: #CB90FA;
$service5-text: #675B7A;

$service-text: #6e7072;

$padding: 1.1rem;
$form-padding: 2.4rem;
$padding2: 2.4rem;
$width: 1268px;
$height: 646px;

@mixin titles {
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: -1px;
  color: $title;
  line-height: 2.1rem;
}

@mixin sub {
  font-size: 0.92rem;
  color: $accent;
  font-family: $general-font;
  font-weight: 500;
}

@mixin text {
  font-size: 0.99rem;
  font-weight: 300;
  color: $text;
}