@import '../../../assets/scss/variables.scss';

.landing {
  padding: 4.5rem $padding 9rem $padding;

  background: $primary-second;

  // Sub
  & h3 {
    @include sub;
  }

  // Text
  & p {
    @include text;
    margin: 1rem 0 0 0;
    font-size: 1.15rem;
  }

  // Title
  & h1 {
    @include titles;
  }
}

// Images
.images {
  display: flex;
  flex-direction: column;
  width: 100%;

  & img {
    width: 9.68rem;
    height: 7.62rem;
  }
}

.image {
  margin: 4.7rem 0 0 0;
}

.image-inner2 {
  margin-left: 0.6rem;
}

.image-inner4 {
  margin-left: 0.6rem;
}

.image2 {
  align-self: flex-end;

  margin: 0.3rem 0 0 0;
}
