@import '../../../assets/scss/variables.scss';

.landing {
  padding: 0 $padding 8rem $padding;

  // Text
  & p {
    @include text;
    margin: 1rem 0 0 0;
    font-size: 1.15rem;
  }

  // Title
  & h1 {
    @include titles;
  }
}

// Images
.images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;

  & img {
    width: 18.25rem;
    height: 11.9rem;

    object-fit: cover;
    border-radius: 1.3rem;

    &:last-child {
      align-self: flex-start;

      margin: -4rem 0 0 0;
      width: 16.8rem;
      height: 12.5rem;
    }
  }
}

// Arrow
.arrow {
  margin: 1rem 0 0 11.5rem + 0.3rem;
}
